<div class="container-fluid px-4 mt-10" id="vagasContainer">
    <!-- Filtros -->
    <div class="align-self-end">Filtros</div>
    <div class="row justify-content-between">
        <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-7 col-12">
            <div class="d-flex flex-wrap flex-sm-nowrap justify-content-between gap-4">
                <select class="form-control" name="filtroModalidade" id="filtroModalidade"
                    onchange="filtraVagas('filtroModalidade')">
                    <option value="" disabled selected hidden>Modalidade</option>
                    <option value="todas">Todas</option>
                    <option value="Jovem Aprendiz">Jovem Aprendiz</option>
                    <option value="Estágio">Estágio</option>
                    <option value="CLT">CLT</option>
                </select>
                <select class="form-control" name="filtroEmpresa" id="filtroEmpresa"
                    onchange="filtraVagas('filtroEmpresa')">
                    <option value="" disabled selected hidden>Empresa</option>
                    <option value="todas">Todas</option>
                    <option value="GlobalSYS">GlobalSYS</option>
                    <option value="Assaí">Assaí</option>
                    <option value="Delfa">Delfa</option>
                </select>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-5 col-xl-4 col-xxl-3 mt-4 mt-md-0">
            <input id="pesquisa" class="form-control" type="search" placeholder="Pesquisar vagas" aria-label="Search"
                onkeyup="filtraVagas('pesquisa')">
        </div>
    </div>

    <!-- Cards -->
    <div class="d-flex flex-wrap gap-3 mt-5 justify-content-center justify-content-sm-start" id="meusCards">
        {{#each paginator.data}}
        {{>cardVaga}}
        {{/each}}
    </div>

    <div class="d-flex justify-content-center mt-8">
        <form action="/vaga" method="post">
            <nav aria-label="Page navigation example">
                <input type="hidden" id="totalDePaginas" name="totalDePaginas" value="{{paginator.total_pages}}">
                <input type="hidden" id="paginaAtual" name="paginaAtual" value="{{paginator.page}}">
                <input type="hidden" name="prevPage" id="prevPage" value="{{paginator.pre_page}}">
                <input type="hidden" name="nextPage" id="nextPage" value="{{paginator.next_page}}">
                <ul class="pagination" id="meusBotoes">
                </ul>
            </nav>
        </form>
    </div>

    <!-- Modals -->
    {{#each paginator.data}}
    {{>modalVaga}}
    {{/each}}
</div>

<script id="filtros">
    function filtraVagas(filtro) {
        var input, filter, i, j, card, div;
        input = document.getElementById(filtro);
        filter = input.value.toUpperCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "");
        card = document.getElementsByClassName('card');
        for (i = 0; i < card.length; i++) {
            if (card[i].innerText.toUpperCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "").indexOf(filter) > -1 || filter == 'TODAS') {
                card[i].style.display = "";
            } else {
                card[i].style.display = "none";
            }
        }
    }
</script>