<form class="d-flex" action="/user/perfil/edit" method="post">
    <div class="container">
        <br />
        <br />
        {{#if mensagemDeErro}}
        <div class="alert alert-danger" role="alert">
            {{mensagemDeErro}}
        </div>
        {{/if}}
        {{#if mensagem}}
        <div class="alert alert-success" role="alert">
            {{mensagem}}
        </div>
        {{/if}}
        <div class="d-flex gap-4">
            <div class="col">
                <h5>Informações pessoais </h5>
                <div class="form-group"><label for="nome_social" class="form-label">Nome Social</label>
                    <input type="text" class="form-control" id="nome_social" name="nome_social">
                </div>

                <div class="form-group"><label for="CPF" class="form-label">CPF*</label>
                    <input type="text" class="form-control" id="CPF" name="CPF" required>
                </div>

                <div class="form-group"><label for="nome_completo" class="form-label">Nome de registro*</label>
                    <input type="text" class="form-control" id="nome_completo" name="nome_completo" required>
                </div>
                <div class="form-group">
                    <div class="d-flex justify-content-between">
                        <div>
                            <label for="genero" class="form-label">Gênero*</label>
                            <select name="genero" class="form-control" id="genero" name="genero" required>
                                <option value="0">Selecione uma opção</option>
                                <option value="masculino">masculino</option>
                                <option value="feminino">feminino</option>
                                <option value="outro">outro</option>
                            </select>
                        </div>
                        <div>
                            <label for="data_de_nascimento" class="form-label">Data de nascimento*</label>
                            <input type="date" class="form-control" id="data_de_nascimento" name="data_de_nascimento"
                                required>
                        </div>
                    </div>
                </div>
                <div class="form-group"><label for="email" class="form-label">Email*</label>
                    <input type="email" class="form-control" id="email" name="email"  required>
                </div>
                <div class="form-group">
                    <label for="fone" class="form-label">Telefone*</label>
                    <input type="tel" class="form-control" id="fone" name="fone" pattern="[0-9]{9}" required>
                </div>
                <div class="form-group">
                    <div class="d-block">
                        <label for="endereco" class="form-label">Endereço*</label>
                        <div class="d-flex justify-content-between">
                            <input type="text" class="form-control" id="endereco" name="endereco" style="width:300px">
                            <input type="tel" class="form-control" id="n" name="n" style="width:80px"
                                pattern="[0-9]{4,}">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="d-flex justify-content-between">
                        <div class="col-md-6">
                            <label for="municipio" class="form-label">Município*</label>
                            <select name="municipio" class="form-control" id="municipio" name="municipio" required>
                                {{#each municipios}}
                                <option disabled selected hidden>Selecione uma opção</option>
                                <option value="{{nome}}">{{nome}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="bairro" class="form-label">Bairro*</label>
                            <input name="bairro" class="form-control" id="bairro" name="bairro" required />
                        </div>
                    </div>
                </div>
            </div>
            <div class="vr"></div>
            <div class="col">
                <h5>Informações acadêmicas</h5>
                <div class="form-group"><label for="grau" class="form-label">Grau</label>
                    <select name="grau" class="form-control" id="grau" name="grau">
                        <option value="0">Selecione uma opção</option>
                        <option value="superior">Superior</option>
                        <option value="medio">Médio</option>
                        <option value="fundamental">Fundamental</option>
                    </select>
                </div>
                <div class="form-group"><label for="curso" class="form-label">Curso</label>
                    <input type="text" class="form-control" id="curso" name="curso">
                </div>
                <div class="form-group"><label for="instituicao" class="form-label">Instituição</label>
                    <input type="text" class="form-control" id="instituicao" name="instituicao">
                </div>
                <div class="form-group">
                    <div class="d-flex justify-content-between">
                        <div>
                            <label for="data_inicial_academica" class="form-label">Início*</label>
                            <input type="date" class="form-control" id="data_inicial_academica"
                                name="data_inicial_academica">
                        </div>
                        <div>
                            <label for="daa_final_academica" class="form-label">Término*</label>
                            <input type="date" class="form-control" id="daa_final_academica" name="daa_final_academica">
                        </div>
                    </div>
                </div>
            </div>
            <div class="vr"></div>
            <div class="col">
                <h5>Experiência profissionais</h5>
                <div class="form-group"><label for="modalidade" class="form-label">Modalidade</label>
                    <select name="modalidade" class="form-control" id="modalidade" name="modalidade">
                        <option value="0">Selecione uma opção</option>
                    </select>
                </div>
                <div class="form-group"><label for="cargo" class="form-label">Cargo</label>
                    <input type="text" class="form-control" id="cargo" name="cargo">
                </div>
                <div class="form-group"><label for="empresa" class="form-label">Empresa</label>
                    <input type="text" class="form-control" id="empresa" name="empresa">
                </div>
                <div class="form-group">
                    <div class="d-flex justify-content-between">
                        <div>
                            <label for="data_inicial_experiencia" class="form-label">Início*</label>
                            <input type="date" class="form-control" id="data_inicial_experiencia"
                                name="data_inicial_experiencia">
                        </div>
                        <div>
                            <label for="data_final_experiencia" class="form-label">Término*</label>
                            <input type="date" class="form-control" id="data_final_experiencia"
                                name="data_final_experiencia">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="d-flex justify-content-end">
            <a class="me-5 btn btn-outline-dark" href="/">Cancelar</a>
            <input class="btn btn-warning" type="submit" value="Salvar alterações">
        </div>
    </div>
</form>