<form action="/user/reauth" method="post">
  <div class="d-flex flex-column">
    <div>
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-crontrol" id="email" name="email" required>
    </div>
  </div>
  <br />
  <input type="submit" class="btn btn-success" value="Enviar">
</form>