<div id="homeMainImg">
    <img src="/img/imgContainer.svg" style="width:100%">
    <div id="homeMainImgTxt">
        <h1>Encontre a vaga, o cargo e a empresa certa para você</h1>
        <h3>Confira abaixo as vagas em aberto</h3>
    </div>
</div>
    <div class="d-flex px-11 py-4 justify-content-center gap-4">
        {{#each vaga}}
        {{>cardVagaHome}}
        {{>modalVaga}}
        {{/each}}
    </div>
<div class="d-grid gap-2 col-3 mx-auto py-4">
    <a class="btn btn-warning" href="/vaga">Ver mais vagas</a>
</div>

{{>parceiros}}
{{>quemSomos}}
{{>modalidades}}
{{>mapa}}

<script>
    var cards;
    cards = document.getElementsByClassName('card');
    function meusCards() {
      cards[1].attributes.style.value = 'width: 427px;'
    }
    meusCards();
</script>