<form action="/admin" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label class="form-label" for="imgLogo">Logotipo da empresa</label>
    <input type="file" class="form-control-file" id="imgLogo" name="imgLogo">
  </div>
  <div class="mb-3">
    <label class="form-label" for="modalidade">Modalidade</label>
    <input type="text" class="form-control" id="modalidade" name="modalidade">
  </div>
  <div class="form-group">
    <label class="form-label" for="cargo">Cargo</label>
    <input class="form-control" type="text" id="cargo" name="cargo">
  </div>
  <div class="form-group">
    <label class="form-label" for="empresa">Empresa</label>
    <input type="text" class="form-control" id="empresa" name="empresa">
  </div>
  <div class="form-group">
    <label class="form-label" for="sobre_empresa">Sobre a empresa</label>
    <textarea type="text" class="form-control" id="sobre_empresa" name="sobre_empresa"></textarea>
  </div>
  <div class="form-group">
    <label class="form-label" for="sobre_vaga">Sobre a vaga</label>
    <textarea type="text" class="form-control" id="sobre_vaga" name="sobre_vaga"></textarea>
  </div>
  <div class="form-group">
    <label class="form-label" for="responsabilidades">Responsabilidades e atribuições</label>
    <textarea type="text" class="form-control" id="responsabilidades" name="responsabilidades"></textarea>
  </div>
  <div class="form-group">
    <label class="form-label" for="requisitos">Requisitos e qualificações</label>
    <textarea type="text" class="form-control" id="requisitos" name="requisitos"></textarea>
  </div>
  <div class="form-group">
    <label class="form-label" for="vantagens">Benefícios e vantagens</label>
    <textarea type="text" class="form-control" id="vantagens" name="vantagens"></textarea>
  </div>
  <div class="form-group">
    <label class="form-label" for="remuneracao">Remuneração e carga horária</label>
    <textarea type="text" class="form-control" id="remunercao" name="remuneracao"></textarea>
  </div>
  <input type="submit" value="Criar vaga">
</form>