{{>adminMenu}}
<div class="container-xl  mt-6">
    <div class="row justify-content-around">
        <div class="d-grid col-xl-4">
            <button class="btn btn-outline-primary border-2 border-primary active" id="idadeButton">Idade</button>
        </div>
        <div class="d-grid col-xl-4">
            <button class="btn btn-outline-primary border-2 border-primary" id="generoButton">Gênero</button>
        </div>
        <div class="d-grid col-xl-4">
            <button class="btn btn-outline-primary border-2  border-primary" id="escolaridadeButton">Bairro</button>
        </div>
    </div>
</div>

<div class="container" id="idadeContainer">
{{>graficoIdade}}
</div>

<div class="container d-none" id="generoContainer">
{{>graficoGenero}}
</div>

<div class="container d-none" id="escolaridadeContainer">
{{>graficoEscolaridade}}
</div>


<script>
    let idadeButton = document.getElementById('idadeButton');
    let generoButton = document.getElementById('generoButton');
    let escolaridadeButton = document.getElementById('escolaridadeButton');
    let idadeContainer = document.getElementById('idadeContainer');
    let generoContainer = document.getElementById('generoContainer');
    let escolaridadeContainer = document.getElementById('escolaridadeContainer');

    idadeButton.onclick = ()=> {
        idadeContainer.classList.remove('d-none');
        idadeButton.classList.add('active');

        generoContainer.classList.add('d-none');
        generoButton.classList.remove('active');

        escolaridadeContainer.classList.add('d-none');
        escolaridadeButton.classList.remove('active')
    };

     generoButton.onclick = ()=> {
        idadeContainer.classList.add('d-none');
        idadeButton.classList.remove('active');

        generoContainer.classList.remove('d-none');
        generoButton.classList.add('active');

        escolaridadeContainer.classList.add('d-none');
        escolaridadeButton.classList.remove('active')
    };

    escolaridadeButton.onclick = ()=> {
        idadeContainer.classList.add('d-none');
        idadeButton.classList.remove('active');

        generoContainer.classList.add('d-none');
        generoButton.classList.remove('active');

        escolaridadeContainer.classList.remove('d-none');
        escolaridadeButton.classList.add('active')
    };



</script>