<div class="btn-group" role="group" aria-label="Basic example">
    <button type="radio" class="btn btn-outline-primary" id="vagasButton">Vagas</button>
    <button type="radio" class="btn btn-outline-primary" id="curriculosButton">Curriculos</button>
    <button type="button" class="btn btn-outline-primary" id="graficosButton">Graficos</button>
</div>
<div class="d-flex flex-row-reverse">
    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalAddVaga">
        Criar nova vaga
    </button>
</div>

<div id="vagasDiv" class="d-flex flex-wrap gap-2">
    {{#each vaga}}
    {{>cardVaga}}
    {{>modalAddVaga}}
    {{>modalVagaAdmin}}
    {{>modalEditaVaga}}
    {{/each}}
</div>

{{>curriculos}}


<div id="graficosDiv">
    Graficos
</div>

<script>
    var vagasBtn = document.getElementById('vagasButton');
    var vagasDiv = document.getElementById('vagasDiv');

    var curriculosBtn = document.getElementById('curriculosButton');
    var curriculosDiv = document.getElementById('curriculosDiv');

    var graficosBtn = document.getElementById('graficosButton');
    var graficosDiv = document.getElementById('graficosDiv');


    curriculosDiv.style.display = 'none';
    graficosDiv.style.display = "none";


    vagasBtn.onclick = function () {
        vagasDiv.classList.add('d-flex');

        curriculosDiv.classList.remove('d-block');
        curriculosDiv.style.display = 'none';

        graficosDiv.classList.remove('d-flex');
        graficosDiv.style.display = "none";

    };

    curriculosBtn.onclick = function () {
        vagasDiv.classList.remove('d-flex');
        vagasDiv.style.display = 'none';

        curriculosDiv.classList.add('d-block');

        graficosDiv.classList.remove('d-flex');
        graficosDiv.style.display = "none";
    };

    graficosBtn.onclick = function () {
        vagasDiv.classList.remove('d-flex');
        vagasDiv.style.display = 'none';

        curriculosDiv.classList.remove('d-block');
        curriculosDiv.style.display = 'none';

        graficosDiv.classList.add('d-flex');
    };
</script>