{{>adminMenu}}
<div class="container-fluid mt-4 ms-4" id="vagasContainer">
    <div class="d-flex flex-row-reverse mt-4 me-6">
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalAddVaga">
            Criar nova vaga
        </button>
    </div>
    <!-- Filtros -->
    <div class="align-self-end">Filtros</div>
    <div class="d-flex justify-content-between">
        <div class="col-md-4">
            <div class="d-flex justify-content-between gap-4">
                <select class="form-control" name="filtroModalidade" id="filtroModalidade"
                    onchange="filtraVagas('filtroModalidade', 'h6')">
                    <option value="" disabled selected hidden>Modalidade</option>
                    <option value="todas">Todas</option>
                    <option value="Jovem Aprendiz">Jovem Aprendiz</option>
                    <option value="Estágio">Estágio</option>
                    <option value="CLT">CLT</option>
                </select>
                <select class="form-control" name="filtroLocalidade" id="filtroLocalidade" onchange="filtraVagas()">
                    <option value="" disabled selected hidden>Localidade</option>
                </select>
                <select class="form-control" name="filtroEmpresa" id="filtroEmpresa"
                    onchange="filtraVagas('filtroEmpresa','h5')">
                    <option value="" disabled selected hidden>Empresa</option>
                    <option value="GlobalSYS">GlobalSYS</option>
                    <option value="Assaí">Assaí</option>
                    <option value="Delfa">Delfa</option>
                </select>
            </div>
        </div>
        <div class="col-md-3 me-6">
            <div class="d-flex">
                <input id="pesquisa" class="form-control mr-sm-2" type="search" placeholder="Pesquisar vagas"
                    aria-label="Search" onkeyup="filtraVagas('pesquisa')">
            </div>
        </div>
    </div>
    <!-- Vagas -->

    <div class="d-flex flex-wrap mt-4" id="meusCards">
        {{#each paginator.data}}
        {{>cardVaga}}
        {{>modalAddVaga}}
        {{>modalVagaAdmin}}
        {{>modalEditaVaga}}
        {{/each}}
    </div>
</div>

<div class="d-flex justify-content-center mt-8">
    <form action="/admin/vagas" method="post">
        <nav aria-label="Page navigation example">
            <input type="hidden" id="totalDePaginas" name="totalDePaginas" value="{{paginator.total_pages}}">
            <input type="hidden" id="paginaAtual" name="paginaAtual" value="{{paginator.page}}">
            <ul class="pagination" id="meusBotoes">
            </ul>
        </nav>
    </form>
</div>

<script id="filtros">
    function filtraVagas(filtro) {
        var input, filter, i, j, card, div;
        input = document.getElementById(filtro);
        filter = input.value.toUpperCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "");
        card = document.getElementsByClassName('card');
        for (i = 0; i < card.length; i++) {
            if (card[i].innerText.toUpperCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "").indexOf(filter) > -1 || filter == 'TODAS') {
                card[i].parentElement.style.display = "";
            } else {
                card[i].parentElement.style.display = "none";
            }
        }
    }
</script>

<script id="paginação">
    //PAGINAÇÃO DAS VAGAS
    let totalPages, buttonGroup, currentPage, botoes;
    totalPages = document.getElementById('totalDePaginas').value;
    buttonGroup = document.getElementById('meusBotoes');
    currentPage = document.getElementById('paginaAtual').value;
    //adiciona botoes para cada pagina
    function drawButtons() {
        for (var i = 1; i <= totalPages; i++) {
            buttonGroup.innerHTML += `<li class="page-item"><button type="submit" name="pagina" class="page-link" id="pagina${i}" value=${i}>${i}</button></li>`
        }
    }
    drawButtons();

    //altera o estilo do botao da pagina atual
    botoes = buttonGroup.getElementsByTagName('li');
    for (var j = 0; j < botoes.length; j++) {
        if (j + 1 == currentPage) {
            botoes[j].classList.add('active')
        }
    }

    //PAGINAÇÃO DOS CURRICULOS

</script>

<script id="fileLabel">
    function changeLabel(inputId, labelId) {
        let fileInput = document.getElementById(inputId);
        let label = document.getElementById(labelId);
        let selectedFileName = fileInput.files[0].name;
        label.innerText = selectedFileName;
    }
</script>