<form class="d-flex" action="/cadastro" method="post">
    <div class="container">
        <br />
        <br />
        <div class="row">
            <div class="col">
                <h5>Informações de login</h5>
                <div class="form-group">
                    <label for="CPF" class="form-label">CPF*</label>
                    <input type="text" class="form-control" id="CPF" name="CPF" required>
                </div>
                <div class="form-group">
                    <label for="senha" class="form-label">Senha*</label>
                    <input type="password" class="form-control" id="senha" name="senha" required>
                </div>
                <br />
                <h5>Informações pessoais</h5>
                <div class="form-group">
                    <label for="nomeCompleto" class="form-label">Nome Completo*</label>
                    <input type="text" class="form-control" id="nomeCompleto" name="nomeCompleto" required>
                </div>
                <div class="form-group">
                    <label for="nomeSocial" class="form-label">Nome Social</label>
                    <input type="text" class="form-control" id="nomeSocial" name="nomeSocial">
                </div>
                <div class="d-flex justify-content-between">
                    <div class="form-group">
                        <label for="genero" class="form-label">Gênero*</label>
                        <select name="genero" class="form-control" id="genero" name="genero" required>
                            <option value="0">Selecione uma opção</option>
                            <option value="masculino">masculino</option>
                            <option value="feminino">feminino</option>
                            <option value="outro">outro</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="data" class="form-label">Data de nascimento*</label>
                        <input type="date" class="form-control" id="dataNascimento" name="dataNascimento" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="form-label">Email*</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-gruop">
                    <label for="telefone" class="form-label">Telefone*</label>
                    <div class="d-flex justify-content-between">
                        <input type="tel" class="form-control" id="ddd" name="ddd" style="width:80px" required>
                        <input type="tel" class="form-control" id="fone" name="fone" style="width:300px" required>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="form-group">
                        <label for="municipio" class="form-label">Município*</label>
                        <select name="municipio" class="form-control" id="municipio" name="municipio">
                            {{#each municipios}}
                            <option value="{{nome}}">{{nome}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="bairro" class="form-label">Bairro*</label>
                        <input type="text" class="form-control" id="bairro" name="bairro" required>
                    </div>
                </div>
            </div>
            <div class="col">
                <h5>Informações acadêmicas</h5>
                <div class="form-group">
                    <label for="grau" class="form-label">Grau</label>
                    <select name="grau" class="form-control" id="grau" name="grau">
                        <option value="0">Selecione uma opção</option>
                        <option value="superior">Superior</option>
                        <option value="medio">Médio</option>
                        <option value="fundamental">Fundamental</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="curso" class="form-label">Curso</label>
                    <input type="text" class="form-control" id="curso" name="curso">
                </div>
                <div class="form-group">
                    <label for="instituicao" class="form-label">Instituição</label>
                    <input type="text" class="form-control" id="instituicao" name="instituicao">
                </div>
                <div class="d-flex justify-content-between">
                    <div class="form-group">
                        <label for="dataInicialIA" class="form-label">Início*</label>
                        <input type="date" class="form-control" id="dataInicialIA" name="dataInicialIA">
                    </div>
                    <div class="form-group">
                        <label for="dataFinalIA" class="form-label">Término*</label>
                        <input type="date" class="form-control" id="dataFinalIA" name="dataFinalIA">
                    </div>
                </div>
            </div>
            <div class="col">
                <h5>Experiências profissionais</h5>
                <div class="form-group"></div>
                <label for="modalidade" class="form-label">Modalidade</label>
                <select name="modalidade" class="form-control" id="modalidade" name="modalidade">
                    <option value="0">Selecione uma opção</option>
                </select>
                <div class="form-group">
                    <label for="cargo" class="form-label">Cargo</label>
                    <input type="text" class="form-control" id="cargo" name="cargo">
                </div>
                <div class="form-group">
                    <label for="empresa" class="form-label">Empresa</label>
                    <input type="text" class="form-control" id="empresa" name="empresa">
                </div>
                <div class="d-flex justify-content-between">
                    <div class="form-group">
                        <label for="dataInicialEP" class="form-label">Início*</label>
                        <input type="date" class="form-control" id="dataInicialEP" name="dataInicialEP">
                    </div>
                    <div class="form-group">
                        <label for="dataFinalEP" class="form-label">Término*</label>
                        <input type="date" class="form-control" id="dataFinalEP" name="dataFinalEP">
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <a class="me-5 btn btn-outline-secondary" href="/">Cancelar</a>
            <input class="btn btn-secondary" type="submit" value="Finalizar cadastro">
        </div>
    </div>
</form>