

<nav class="navbar navbar-expand-custom navbar-light bg-light px-sm-3" id="header">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img class="nav-img" src="/img/logotipoIDEP.svg"/></a>
    {{#if adminLogoutButton}}
    <a href="/user/logout" class="btn btn-danger aling-self-end">Sair do sistema</a>
    {{else}}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto ms-xxl-5 gap-xxl-5">
        <a class="nav-link text-dark" href="/vaga">Vagas</a>
        <a class="nav-link text-dark" href="/parceiros">Parceiros</a>
        <a class="nav-link text-dark" href="/#quemSomos">Quem somos</a>
        <a class="nav-link text-dark" href="/#modalidades">Modalidades</a>
        <a class="nav-link text-dark" href="/#mapa">Onde estamos</a>
      </div>
      <div class="d-flex">
      {{#if changeButton}}
      <a href="/user/perfil" class="dropdown-toggle-split text-end" data-bs-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        {{#if profileImg}}
        <img class="nav-perfil-img " src="{{profileImg}}" />
        {{else}}
        <img src="/img/icons/foto.svg" style="width: 50%" />
        {{/if}}
      </a>
      <div class="dropdown-menu dropdown-menu-lg-end bg-primary">
        <a class="dropdown-item text-white" href="/user/perfil">Minhas candidaturas</a>
        <a class="dropdown-item text-white" href="/user/perfil/edit">Editar dados</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item text-white" href="/user/logout">Sair</a>
      </div>
      {{else}}
      <a class="nav-link text-dark me-3" href="/user/cadastro">Cadastre-se</a>
      <a class="btn btn-warning" href="/user/login">Entrar</a>
      {{/if}}
    </div>
    </div>
    {{/if}}
  </div>
</nav>