<nav class="navbar navbar-expand-lg navbar-light bg-*">
  <div class="container-fluid px-4">
    <a href="/">
      <button class="col-md-8 btn btn-default">
        <img src="/img/logotipoIDEP.svg" style="width: 100%" />
      </button>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav  me-auto mb-2 mb-lg-0">
        <li class="nav-item mx-2">
          <a class="nav-link active" href="/vaga">Vagas</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-dark" href="/#parceiros">Parceiros</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-dark" href="/#quemSomos">Quem somos</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-dark" href="/#modalidades">Modalidades</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-dark" href="/#mapa">Onde estamos</a>
        </li>
      </ul>
      {{#if changeButton}}
      <a href="/user/perfil" class="dropdown-toggle-split text-end" data-bs-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false"> <img src="/img/icons/foto.svg" style="width: 50%" /></a>
      <div class="dropdown-menu dropdown-menu-end bg-primary">
        <a class="dropdown-item text-white" href="/user/perfil">Minhas candidaturas</a>
        <a class="dropdown-item text-white" href="/user/perfil/edit">Editar dados</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item text-white" href="/user/logout">Sair</a>
      </div>
    {{else}}
    <ul class="navbar-nav me-4 mb-2 mb-lg-0 gap-4">
      <a class="nav-link active" href="/user/cadastro">Cadastre-se</a>
      <a class="btn btn-warning" href="/user/login">Entrar</a>
    </ul>
    {{/if}}
  </div>
</nav>