<div class="container-fluid mt-10 px-sm-4">
    <div class="btn-group">
        <div class="d-grid col-xl-6 ">
            <a href="/admin/vagas"
                class="btn btn-outline-primary {{#when url 'eq' '/admin/vagas'}} active {{/when}}">Vagas</a>
        </div>
        <div class="d-grid col-xl-6 ">
            <a href="/admin/curriculos"
                class="btn btn-outline-primary {{#when url 'eq' '/admin/curriculos'}} active {{/when}}">Currículos</a>
        </div>
        <div class="d-grid col-xl-6 ">
            <a href="/admin/graficos"
                class="btn btn-outline-primary {{#when url 'eq' '/admin/graficos'}} active {{/when}}">Gráficos</a>
        </div>
    </div>
    <div class="line"></div>
</div>