<div class="card text-start bg-primary" style="width: 18rem;">
    <div class="card-body text-white">
        <br>
        <h4 class="card-text">{{Cargo}}</h4>
        <h6 class="card-title">{{Empresa}}</h6>
        <br>
        <!-- Button trigger modal -->
    </div>
    <div class="card-footer border-0 bg-primary justify-content-between">
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#{{ID}}">
            Ver detalhes
        </button>
        <button type="button" class="btn btn-secondary">
            Editar
        </button>
        <button type="button" class="btn btn-danger">
            Excluir
        </button>
    </div>
</div>
