<div class="card text-center text-white bg-primary ">
    <div class="card-header bg-primary border-0">
        <div class="d-flex justify-content-center">
            <h6 class="card-text txtRect text-dark">{{Modalidade}}</h6>
        </div>
    </div>
    <div class="card-body border-0 bg-primary">
        <h4 class="card-text mt-4">{{Cargo}}</h4>
        <br>
        <h6 class="card-text">{{Empresa}}</h6>
    </div>
    <div class="card-footer border-0 bg-primary">
        <u>
            <a class="text-white" type="button" data-bs-toggle="modal" data-bs-target="#vaga{{ID}}">
                Ver mais detalhes
            </a>
        </u>
    </div>
</div>