<div class="card text-center bg-primary my-2">
    <div class="card-header bg-primary border-0">
        <img src="/img/cardImg.svg" width="100%">
        <div class="d-flex justify-content-center" style="margin-top:-3%;">
            <h6 class="card-text txtRect text-dark">{{Modalidade}}</h6>
        </div>
    </div>
    <div class="card-body text-white">
        <div>
            <h4 class="card-text">{{Cargo}}</h4>
            <h5 class="card-text">{{Empresa}}</h5>
        </div>
    </div>
    <div class="card-footer border-0 bg-primary justify-content-between">
        <u>
            <a class="text-white" type="button" data-bs-toggle="modal" data-bs-target="#{{ID}}">
                Ver mais detalhes
            </a>
        </u>
    </div>
</div>