<div class="container-fluid" id="footer">
    <div class="row justify-content-around">
        <div class="col-xl-auto col-12 text-center">
            <a href="/"><img src="/img/logotipoIDEP.svg" style="width: fit-content;"></a>
        </div>
        <div class="col-12 col-sm-6 col-lg-auto mt-3 mt-lg-0">
            <a href="/vaga">
                <h6 class="strong">Vagas</h6>
            </a>
            <a href="/#parceiros">
                <h6 class="strong">Parceiros</h6>
            </a>
            <a href="/#quemSomos">
                <h6 class="strong">Quem somos</h6>
            </a>
            <a href="/#modalidades">
                <h6 class="strong">Modalidades</h6>
            </a>
        </div>

        <div class="col-12 col-sm-6 col-lg-auto mt-3 mt-lg-0">
            <a href="/#mapa">
                <h6 class="strong">Onde estamos</h6>
            </a>
            <p>Rua 16, n° 130, Jereissati I,</p>
            <p> Maracanaú - CE</p>
        </div>

        <div class="col-12 col-sm-6 col-lg-auto mt-3 mt-lg-0">
            <h6 class="strong text-primary">Contato</h6>
            <div class="d-flex">
                <img id="icon" src="/img/icons/fone.svg">
                <p class="strong">3015-3641</p>
            </div>
            <div class="d-flex">
                <img id="icon" src="/img/icons/wpp.svg">
                <p class="strong">85 8545-1456</p>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-auto mt-3 mt-lg-0">
            <h6 class="strong text-primary">Nossas resdes sociais</h6>
            <div class="d-flex">
                <img id="icon" src="/img/icons/instagram.svg">
                <p class="strong">idepsocial</p>
            </div>
            <div class="d-flex">
                <img id="icon" src="/img/icons/facebook.svg">
                <p class="strong">idepsocial</p>
            </div>
        </div>
    </div>
</div>