<div class="col-8 offset-2 my-5">
    <div class="card">
        <div class="card-body">
            <input type="hidden" id="escolaridade" value="{{escolaridade}}">
            <h5>Candidatos por escolaridade</h5>
            <hr>
            <canvas id="escolaridadeChart"></canvas>
        </div>
    </div>
</div>

<script>
    var ctx = document.getElementById('escolaridadeChart').getContext('2d');
    let escolaridade= document.getElementById('escolaridade').value.replace(/[^0-9]*/g, '');
    console.log(escolaridade)
    let fundInc = escolaridade[0];
    let fundComp = escolaridade[1];
    let medioInc = escolaridade[2];
    let medioComp = escolaridade[3];
    let superInc = escolaridade[4];
    let superComp = escolaridade[5];
    //Chart.defaults.plugins.legend.display = false;

    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'bar',

        // The data for our dataset
        data: {
            labels: ['Fundamental', 'Médio', 'Superior'],
            datasets: [{
                label: 'Incompleto',
                backgroundColor: 'rgb(137, 89, 168)',
                borderColor: 'rgb(137, 89, 168)',
                data: [fundInc, medioInc, superInc]
            },
            {
                label: 'Completo',
                backgroundColor: 'rgb(238, 234, 135, 1)',
                borderColor: 'rgb(238, 234, 135, 1)',
                data: [fundComp, medioComp, superComp]
            }]
        },

        // Configuration options go here
        options: {
            legend: {
                legend: {
                    position: 'chartArea',
                    align: 'end',
                    pointStyle: 'circle',
                    filter: null,
                    boxWidth: 120,
                    boxHeigth: 'font.size'
                },
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }

    });

</script>