<div class="col-8 offset-2 my-5">
    <div class="card">
        <div class="card-body">
            <input type="hidden" id="idade" value="{{valorPorIdade}}">
            <h5>Candidatos por Idade</h5>
            <hr>
            <canvas id="idadeChart"></canvas>
        </div>
    </div>
</div>

<script>
    //pegando valores do db
    var ctx = document.getElementById('idadeChart').getContext('2d');
    let input = document.getElementById('idade').value.replace(/[^0-9]*/g, '')
    let valores = [];
    for (var i = 0; i < input.length; i++) {
        valores.push(input[i]);
    }

    //Chart.defaults.plugins.legend.display = false;
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'bar',

        // The data for our dataset
        data: {
            labels: ['15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29+'],
            datasets: [{
                label: 'Quantidade',
                backgroundColor: 'rgb(249, 186, 0)',
                borderColor: 'rgb(249, 186, 0)',
                data: valores
            }]
        },

        // Configuration options go here
        options: {
            legend: {
                display: false
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

</script>