<div class="col-8 offset-2 my-5">
    <div class="card">
        <div class="card-body">
            <h5>Gráfico por bairro</h5>
            <hr>
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');

    //Chart.defaults.plugins.legend.display = false;

    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'bar',

        // The data for our dataset
        data: {
            labels: ['Mucunã', 'Alto Alegre', 'J.Bandeirante', 'Cagado', 'Jereissati III', 'Pajuçara', 'Jereisati I', 'Horto', 'Colônia', 'Piratininga', 'Industrial', 'Residencial', 'Pitaguary', 'Acaracuzinho'],
            datasets: [{
                label: 'Gráfico por Idade',
                backgroundColor: 'rgb(238, 234, 135, 1)',
                borderColor: 'rgb(238, 234, 135, 1)',
                data: [8, 25, 30, 20, 30, 6, 20, 10, 20, 34, 30, 33, 24, 36]
            }]
        },

        // Configuration options go here
        options: {
            legend: {
                display: false
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }

    });

</script>