<div class="col-8 offset-2 my-5">
    <input type="hidden" id="genero" value="{{resultado}}">
    <div class="card bg-white">
        <div class="card-body">
            <h5>Candidatos por gênero</h5>
            <hr>
            <canvas id="generoChart"></canvas>
        </div>
    </div>
</div>


<script>
    var ctx = document.getElementById('generoChart').getContext('2d');
    let resultado = document.getElementById('genero').value.replace(/[^0-9]*/g, '');
    let masculino = resultado[0];
    let feminino = resultado[1];
    let naoBinario = resultado[2];
    let naoInformado = resultado[3];
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'doughnut',
        // The data for our dataset
        data: {
            labels: ['Feminino', 'Masculino', 'Não binário', 'Não informado'],
            datasets: [{
                label: '',
                padding: 2000,
                textAlign: 'left',
                backgroundColor: [
                    'rgb(93, 95, 239, 100)',
                    'rgb(249, 186, 0, 1)',  
                    'rgb(47, 138, 229, 1)',
                    'rgb(50, 168, 82)'
                ],
                borderColor: [
                    'rgb(93, 95, 239, 1)',
                    'rgb(249, 186, 0, 1)',
                    'rgb(47, 138, 229, 1)',
                    'rgb(50, 168, 82)'
                ],
                data: [feminino, masculino, naoBinario, naoInformado]
            }]
        },

        // Configuration options go here
        options: {
            cutoutPercentage: 40,
            legend: {
                position: 'chartArea',
                align: 'end',
                pointStyle: 'circle',
                filter: null,
                boxWidth: 120,
                boxHeigth: 'font.size'
            },
            animation: {
                animateScale: true
            }
        }
    });

</script>