<div class="container-xl mt-8" id="mapa">
    <h1 class="display-2 text-primary">Onde estamos</h1>
    <div class="row mt-6">
        <div class="col-xl-3 col-xs-12 text-primary" style="margin-top: 5%;">
            <p>Rua 16, n° 130, Jereissati I, Maracanaú - CE </p>
            <br>
            <div class="d-flex gap-4">
                <img id="icon" src="/img/icons/fone.svg">
                <p>3015-3641</p>
            </div>
            <br>
            <div class="d-flex gap-4">
                <img id="icon" src="/img/icons/wpp.svg">
                <p>85 8545-1456</p>
            </div>
        </div>
        <div class="col-xl-8 col-xs-12 text-end">
            <img src="/img/mapa.svg">
        </div>
    </div>
</div>