<div class="d-flex py-8">
    <div class="col">
        <div>
            <h1 class="display-2 text-primary">Onde estamos</h1>
        </div>
        <br>
        <div class="col-md-3">
            <div>
                <h5>Rua 16, n° 130, Jereissati I,
                    Maracanaú - CE </h5>
            </div>
            <br>
            <div class="d-flex gap-4">
                <img id="icon" src="/img/icons/fone.svg">
                <h5>3015-3641</h5>
            </div>
            <div class="d-flex gap-4">
                <img id="icon" src="/img/icons/fone.svg">
                <h5>85 8545-1456</h5>
            </div>
        </div>

    </div>
    <div class="col">
        <img src="/img/mapa.svg">
    </div>
</div>