<div class="container-xl mt-8" id="mapa">
    <h1 class="display-2 text-primary">Onde estamos</h1>
    <div class="row mt-6">
        <div class="col-xl-3 col-xs-12 text-primary" style="margin-top: 5%;">
            <p>Rua 16, n° 130, Jereissati I, Maracanaú - CE </p>
            <br>
            <div class="d-flex gap-4">
                <img id="icon" src="/img/icons/fone.svg">
                <p>3015-3641</p>
            </div>
            <br>
            <div class="d-flex gap-4">
                <img id="icon" src="/img/icons/wpp.svg">
                <p>85 8545-1456</p>
            </div>
        </div>
        <div class="col-xl-8 col-xs-12 text-end">
<<<<<<< HEAD
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15922.74823011398!2d-38.6219053!3d-3.877121!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6f53d2154fc90ff5!2sIDEP%20Social!5e0!3m2!1spt-BR!2sbr!4v1643128775402!5m2!1spt-BR!2sbr"
                width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
=======
            <img src="/img/mapa.svg">
>>>>>>> d16c26e6b794b52aff23fa9839e96814ff619baf
        </div>
    </div>
</div>