<div class="container-custom px-xl-5 mt-8" id="mapa">
    <h1 class="display-2 text-primary">Onde estamos</h1>
    <div class="row justify-content-between mt-5 mt-sm-6">
        <div class="col-12 col-lg-4 col-xl-3 text-primary mt-lg-6">
            <h5>Rua 16, n° 130, Jereissati I, Maracanaú - CE </h5>
            <br>
            <div class="d-flex gap-4">
                <img id="icon" src="/img/icons/fone.svg">
                <h5>3015-3641</h5>
            </div>
            <br>
            <div class="d-flex gap-4">
                <img id="icon" src="/img/icons/wpp.svg">
                <h5>85 8545-1456</h5>
            </div>
        </div>
        <div class="col-12 mt-2 col-lg-7 text-end">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15922.74823011398!2d-38.6219053!3d-3.877121!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6f53d2154fc90ff5!2sIDEP%20Social!5e0!3m2!1spt-BR!2sbr!4v1643128775402!5m2!1spt-BR!2sbr"
             style="border:0; width: 100%; height: 600px" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>