<div class="row py-6 px-5 gap-8 bg-primary">
    <div class="text-end text-white">
        <h1 class="display-2">Modalidades</h1>
    </div>
    <div class="d-flex justify-content-center gap-4">
        <div class="col-md-4 bg-white text-center px-5 py-5">
            <h2>Jovem Aprendiz</h2>
            <br>
            <div class="col text-start">
                <h5>Ensino atrelado com a prática profissional</h5> <br>
                <h5>Idade entre 14 e 24 anos</h5> <br>
                <h5>Registro na carteira de trabalho</h5> <br>
                <h5>Limite da jornada de trabalho de 26 horas semanais</h5> <br>
                <h5>Amparado pela lei 10.097</h5> <br>
                <h5>Direito a FGTS, INSS e 13°</h5>
            </div>
        </div>
        <div class="col-md-4 bg-white text-center px-5 py-5">
            <h2>Estágio</h2>
            <br>
            <div class="col text-start">
                <h5>Precisa está vinculado a uma instituição de ensino</h5> <br>
                <h5>Limite de 2 anos de contrato</h5> <br>
                <h5>Não assina a carteira</h5> <br>
                <h5>Limite da jornada de trabalho 30 horas semanais</h5> <br>
                <h5>Amparado pela lei 11.788</h5> <br>
            </div>
        </div>
        <div class="col-md-4 bg-white text-center px-5 py-5">
            <h2>CLT</h2>
            <br>
            <div class="col text-start">
                <h5>Limite da jornada de trabalho 44 horas semanais</h5> <br>
                <h5>Direito a FGTS, INSS e 13°</h5> <br>
                <h5>Férias remuneradas</h5> <br>
                <h5>Licença maternidade e paternidade</h5> <br>
                <h5>Seguro desemprego</h5>
            </div>
        </div>
    </div>
</div>