<div class="d-grid bg-primary px-7 py-7 gap-8 justify-content-center" id="modalidades">
    <div class="text-end text-white">
        <h1 class="display-2">Modalidades</h1>
    </div>
    <div class="d-flex justify-content-center gap-4">
        <div class="col-md-4 text-center px-5 py-5 largeBox">
            <img src="/img/meninaEscola.svg" style="margin-top: -40%;">
            <br>
            <br>
            <h2>Jovem Aprendiz</h2>
            <br>
            <br>
            <ul class="d-grid gap-4 text-start">
                <li>Ensino atrelado com a prática profissional</li>
                <li>Idade entre 14 e 24 anos</li>
                <li>Registro na carteira de trabalho</li>
                <li>Limite da jornada de trabalho de 26 horas semanais</li>
                <li>Amparado pela lei 10.097</li>
                <li>Direito a FGTS, INSS e 13°</li>
            </ul>
        </div>
        <div class="col-md-4 text-center px-5 py-5 largeBox">
            <img src="/img/estagio.svg" style="margin-top: -40%;">
            <br>
            <br>
            <h2>Estágio</h2>
            <br>
            <br>
            <ul class="d-grid gap-4 text-start">
                <li>Precisa está vinculado a uma instituição de ensino</li>
                <li>Limite de 2 anos de contrato</li>
                <li>Não assina a carteira</li>
                <li>Limite da jornada de trabalho 30 horas semanais</li>
                <li>Amparado pela lei 11.788</li>
            </ul>
        </div>
        <div class="col-md-4 text-center px-5 py-5 largeBox">
            <img src="/img/pasta.svg" style="margin-top: -40%;">
            <br>
            <br>
            <h2>CLT</h2>
            <br>
            <br>
            <ul class="d-grid gap-4 text-start">
                <li>Limite da jornada de trabalho 44 horas semanais</li>
                <li>Direito a FGTS, INSS e 13°</li>
                <li>Férias remuneradas</li>
                <li>Licença maternidade e paternidade</li>
                <li>Seguro desemprego</li>
            </ul>
        </div>
    </div>
</div>