<div class="container-fluid bg-primary mt-8 p-4 p-xxl-8" id="modalidades">
    <div class=" text-lg-end text-white">
        <h1 class="display-2">Modalidades</h1>
    </div>
    <div class="row justify-content-center gap-3 gap-xxl-5 mt-8">
        <div class="col-12 col-lg text-center largeBox">
            <img src="/img/meninaEscola.svg">
            <br>
            <br>
            <h2>Jovem Aprendiz</h2>
            <br>
            <br>
            <ul class="d-grid gap-4 text-start">
                <li><h5>Ensino atrelado com a prática profissional</h5></li>
                <li><h5>Idade entre 14 e 24 anos</h5></li>
                <li><h5>Registro na carteira de trabalho</h5></li>
                <li><h5>Limite da jornada de trabalho de 26 horas semanais</h5></li>
                <li><h5>Amparado pela lei 10.097</h5></li>
                <li><h5>Direito a FGTS, INSS e 13°</h5></li>
            </ul>
        </div>
        <div class="col-12 col-lg text-center largeBox mt-6 mt-lg-0">
            <img src="/img/estagio.svg">
            <br>
            <br>
            <h2>Estágio</h2>
            <br>
            <br>
            <ul class="d-grid gap-4 text-start">
                <li><h5>Precisa está vinculado a uma instituição de ensino</h5></li>
                <li><h5>Limite de 2 anos de contrato</h5></li>
                <li><h5>Não assina a carteira</h5></li>
                <li><h5>Limite da jornada de trabalho 30 horas semanais</h5></li>
                <li><h5>Amparado pela lei 11.788</h5></li>
            </ul>
        </div>
        <div class="col-12 col-lg text-center largeBox mt-6 mt-lg-0">
            <img src="/img/pasta.svg">
            <br>
            <br>
            <h2>CLT</h2>
            <br>
            <br>
            <ul class="d-grid gap-4 text-start">
                <li><h5>Limite da jornada de trabalho 44 horas semanais</h5></li>
                <li><h5>Direito a FGTS, INSS e 13°</h5></li>
                <li><h5>Férias remuneradas</h5></li>
                <li><h5>Licença maternidade e paternidade</h5></li>
                <li><h5>Seguro desemprego</h5></li>
            </ul>
        </div>
    </div>
</div>