<div class="container-custom px-4 mt-8" id="parceiros">
    <div class="text-primary text-end mt-3">
        <h1 class="display-2">Parceiros</h1>
    </div>
    <div class="row row-cols-2 justify-content-center gap-4 px-md-7 px-lg-11 px-xl-0">
        <img id="parcImg" src="/img/logo/assai.png">
        <img id="parcImg" src="/img/logo/globalsys.png">
        <img id="parcImg" src="/img/logo/delfa.png">
        <img id="parcImg" src="/img/logo/ipark.png">
    </div>
</div>
<div class="d-grid col-8 col-md-6 col-lg-4 col-xxl-3 mt-8 mx-auto">
    <a class="btn btn-warning " href="/parceiros">Ver todos os parceiros</a>
</div>