<div class="container mt-8" id="parceiros">
    <div class="text-primary text-end mt-3">
        <h1 class="display-2">Parceiros</h1>
    </div>
    <div class="d-flex flex-wrap justify-content-center gap-xl-4 gap-xs-2  bd-highlight mt-4">
        <img id="parcImg" src="/img/Assai.svg">
        <img id="parcImg" src="/img/globalsys.svg">
        <img id="parcImg" src="/img/delfa.svg">
        <img id="parcImg" src="/img/ipark.svg">
    </div>
    <div class="d-flex justify-content-center mt-5">
        <div class="col-xl-3 d-grid ">
            <a class="btn btn-warning " href="/parceiros">Ver todos os parceiros</a>
        </div>
    </div>
</div>