<div class="container-custom px-xl-5 mt-8" id="quemSomos">
    <h1 class="display-2 text-primary">Quem somos</h1>
    <div class="clearfix mt-5">
        <div class="col-12 col-md-6 float-md-end mb-3 ms-md-3">
            <img src="/img/quemSomos1.svg" class="w-100">
        </div>
        <p> O Instituto Social para o Desenvolvimento de Potencialidades é uma organização da sociedade
            civil -
            OSC,
            independente e sem fins lucrativos, fundada em 2012 a partir da idealização de um instituto que
            trabalhasse com a crença no potencial criativo e inovador das pessoas, dando ênfase às temáticas
            relacionadas ao mundo do trabalho e aos Direitos Humanos.
        </p>
        <p>
            Proporcionamos às/aos participantes de nossas atividades espaços de discussão, visando a partilha de
            experiências e o encontro com novas possibilidades e realidades. Além disso, focamos na
            (des)construção dos saberes, para que cada sujeito se perceba corresponsável por si mesmo e pelos
            outros (sociedade
            e demais seres vivos).
    </div>
    <div class="clearfix mt-5">
        <div class="col-12 col-md-6 float-md-start mb-3 me-3">
            <img src="/img/quemSomos2.svg" style="width: 100%;">
        </div>
        <p>Por acreditarmos que a educação é um processo que envolve reflexão, ação e escuta pedagógica
            centralizada na vida, o IDEP Social desenvolve vivências, através de programas e projetos, que
            buscam a promoção
            de uma sociedade democrática e socialmente justa.
        </p>
        <p>
            Atuamos junto às populações nas quais incidem diversos marcadores sociais, como raça, gênero,
            classe, território, religiosidade e deficiência, priorizando as juventudes.
        </p>
    </div>
</div>