<div class="modal fade" id="reauth" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title">Digite abaixo o email da sua conta IDEP</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/user/reauth" method="post">
      <div class="modal-body border-0">
        <div class="form-group">
            <label for="emailReauth" class="form-label">Email:</label>
            <input type="emailReauth" class="form-control" id="emailReauth" name="emailReauth" required>
        </div>
      </div>
      <div class="modal-footer border-0">
        <input type="submit" class="btn btn-warning" value="Enviar">
      </div>
      </form>
    </div>
  </div>
</div>