<h4 class="text-primary mt-8 ms-5">Nossos parceiros</h4>
<div class="container-xl" id="todosParceiros">
    <div class="row row-cols-6">
        <img src="/img/logo/assai.png">
        <img src="/img/logo/globalsys.png">
        <img src="/img/logo/delfa.png">
        <img src="/img/logo/ipark.png">
        <img src="/img/logo/amoresaude.png">
        <img src="/img/logo/atrio.png">
        <img src="/img/logo/baratão.png">
        <img src="/img/logo/cartório.jpg">
        <img src="/img/logo/casapio.jpg">
        <img src="/img/logo/frevo.png">
        <img src="/img/logo/ibiapaba.png">
        <img src="/img/logo/isoplast.png">
        <img src="/img/logo/macesa.jpg">
        <img src="/img/logo/maxworld.png">
        <img src="/img/logo/mercantil.jpg">
        <img src="/img/logo/milopções.jpg">
        <img src="/img/logo/nossaClinica.png">
        <img src="/img/logo/onbyte.jpg">
        <img src="/img/logo/perseu.jpg">
        <img src="/img/logo/preparacursos.jpg">
        <img src="/img/logo/suprir.png">
        <img src="/img/logo/viniartefatos.jpg">
    </div>
</div>